@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}

body {
  @apply bg-stone-950 text-white;
}
