@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-tertiary: var(--bg-tertiary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-accent-primary: var(--accent-primary);
  --color-accent-hover: var(--accent-hover);
  --color-border-color: var(--border-color);

  --color-status-success: var(--status-success);
  --color-status-warning: var(--status-warning);
  --color-status-error: var(--status-error);
  --color-status-info: var(--status-info);
  --color-status-active: var(--status-active);
}

:root {
  --bg-primary: #f8fafc;
  --bg-secondary: #ffffff;
  --bg-tertiary: #f1f5f9;
  --text-primary: #0f172a;
  --text-secondary: #64748b;

  --accent-primary: #3b82f6;
  --accent-hover: #2563eb;

  --border-color: #e2e8f0;

  --status-success: #10b981;
  --status-warning: #f59e0b;
  --status-error: #f43f5e;
  --status-info: #0ea5e9;
  --status-active: #8b5cf6;

  --chart-1: #98bbf5;
  --chart-2: #f2a6c8;
  --chart-3: #a1e0c2;
  --chart-4: #fce1a4;
  --chart-5: #c6baf5;

  --chart-tooltip-bg: #ffffff;
  --chart-tooltip-text: #0f172a;
}

.dark {
  --bg-primary: #020617;
  --bg-secondary: #0f172a;
  --bg-tertiary: #1e293b;
  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;

  --accent-primary: #60a5fa;
  --accent-hover: #3b82f6;

  --border-color: #1e293b;
  --status-success: #34d399;
  --status-warning: #fbbf24;
  --status-error: #fb7185;
  --status-info: #7dd3fc;
  --status-active: #a78bfa;

  --chart-1: #7ea6e0;
  --chart-2: #ea8db7;
  --chart-3: #86cfaa;
  --chart-4: #f2c879;
  --chart-5: #ac9fdc;

  --chart-tooltip-bg: #0f172a;
  --chart-tooltip-text: #f8fafc;
}

* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-primary);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-hover);
}
